* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

body {
  --color-text-1: light-dark(var(--gray-10), var(--gray-3));
  --color-text-2: light-dark(var(--gray-8), var(--gray-5));
  --color-surface: light-dark(var(--gray-1), var(--gray-11));
  --transition-duration: 0.25s;
  --transition-timing-function: var(--ease-in-out-2);

  color-scheme: light dark;
  color: var(--color-text-1);
  background: var(--color-surface);
  font-family: system-ui;
  line-height: 1.6;
}

:is(h1, h2, h3) {
  line-height: 1.1;
}
