<footer>
  <p>Code available <a href="/TODO_ADD_LINK">on Github</a>.</p>
</footer>

<style>
	footer {
		padding: var(--size-1) var(--size-3);
		max-inline-size: var(--size-content-3);
		margin-inline: auto;
		color: var(--color-text-2);
	}

	a {
		color: var(--color-text-1);

		&:hover {
			text-decoration: none;
		}
	}
</style>
