---
import LightDarkImage from "../components/LightDarkImage.astro";
import todometerAppLight from "../images/todometer-app-light.png";
import todometerAppDark from "../images/todometer-app-dark.png";
import GitHub from "../images/github.svg";
---

<main>
  <h1>todometer</h1>
  <p>a copy of a meter-based to-do list for your windows</p>

  <div>
    <a class="invert" href="#download">Download</a>
    <a aria-label="Github" href="https://github.com/borntofrappe/todometer">
      <GitHub width="1em" height="1em" />
    </a>
  </div>

  <LightDarkImage light={todometerAppLight} dark={todometerAppDark} alt="" />
</main>

<style>
  main {
    padding: var(--size-10) var(--size-2) var(--size-8);

    > * {
      max-inline-size: var(--size-content-3);
      margin-inline: auto;
    }
  }

  main {
    > * + * {
      margin-block-start: var(--size-3);
    }

    & > div {
      margin-block-start: var(--size-7);
    }
  }

  main :global(picture) {
    display: block;
    margin-block-start: var(--size-8);
    max-inline-size: 100%;
    inline-size: min(90svi, 1000px);
    margin-inline: auto;
  }

  main :global(picture img) {
    border-radius: 1%;
    --color-shadow-1: light-dark(transparent, var(--gray-8));
    --color-shadow-2: light-dark(var(--gray-4), var(--gray-12));
    box-shadow:
      0px 2px 8px -2px var(--color-shadow-1),
      0px 4px 80px var(--color-shadow-2);
  }

  h1 {
    text-align: center;
    font-size: var(--font-size-6);
    text-wrap: balance;
  }

  p {
    text-align: center;
    font-size: var(--font-size-2);
    color: var(--color-text-2);
    text-wrap: balance;
  }

  div {
    display: flex;
    gap: var(--size-3) var(--size-5);
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    background: light-dark(
      oklch(from currentColor l c h / 0.05),
      oklch(from currentColor l c h / 0.1)
    );
    padding: calc(var(--size-3) * 0.7) var(--size-3);
    border-radius: var(--radius-2);

    & > svg {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  a.invert {
    color: var(--color-surface);
    background: var(--color-text-1);
    transition: background var(--transition-duration)
      var(--transition-timing-function);

    &:hover {
      background: oklch(from var(--color-text-1) calc(l * 0.9) c h);
    }

    &:focus-visible {
      outline: 2px solid var(--color-text-1);
      outline-offset: 2px;
    }
  }
</style>
