---
import '../styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="todometer: a copy of meter-based to-do list">
    <title>todometer</title>
  </head>
  <body>
    <slot />
  </body>
</html>
